.original h1{
  margin:auto;
  text-align:center;
}

.r{
  color:red;
}

.o{
  color:orange;
}

.y{
  color:yellow;
}

.g{
  color:green;
}

.b{
  color:blue;
}

.i{
  color:purple;
}

.v{
  color:violet;
}